<% if logged_in? %>

  <%= render 'shared/stats' %>

  <%= render 'shared/post_form' %>

  <% if @feed_items.any? %>
    <ul class="posts">
      <% @feed_items.each do |post| %>
        <%= render 'posts/post_with_parent', post: post %>
      <% end %>
    </ul>
    <%= will_paginate @feed_items %>
  <% end %>

<% else %>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.text_field :user_name, class: "form-control", placeholder: "ユーザ名" %>

      <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %> 保存する
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-info" %>
    <% end %>

    <%= link_to "アカウント作成", signup_path, class: "btn btn-info", style: "width: 100%; margin-top: 30px;" %>

  </div>
</div>

<% end %>

