<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">検索</div>
  </div>
  <div class="panel-body">
    <%= search_form_for(@q, method: :get) do |f| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-group">
            <%= f.text_field :content_cont, class: "form-control", placeholder: "部分一致" %>
          <div>
      </div>
      <%= f.submit '検索', class: "btn btn-primary" %>
    <% end %>
  <div>
</div>