<h2>ストリーム</h2>

<% if @post.any? %>
  <ul class="posts">
    <% @post.each do |post| %>
      <%= render 'posts/post_with_parent', post: post %>
    <% end %>
  </ul>
  <%= will_paginate @post %>
<% end %>