<% unless current_user?(user) %>
  <% if current_user.following?(user) %>

    <%= form_for(current_user.relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
      <%= button_tag :type => "submit", :class =>"btn btn" do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <% end %>
    <% end %>

  <% else %>

    <%= form_for(current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :followed_id, user.id %>
      <%= button_tag :type => "submit", :class =>"btn btn-info" do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <% end %>
    <% end %>

  <% end %>
<% end %>