<h2>設定</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: user_path, html: { multipart: true } do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :user_name, "ユーザ名" %>
      <%= f.text_field :user_name, class: "form-control" %>

      <%= f.label :user_screen_name, "表示名" %>
      <%= f.text_field :user_screen_name, class: "form-control" %>

      <%= f.label :profile, "プロフィール" %>
      <%= f.text_area :profile, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= user_icon %>
      <%= f.file_field :icon %>

      <%= f.submit '保存', class: "btn btn-info" %>

    <% end %>
  </div>
</div>
