<h2>全てのユーザ</h2>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user_icon(user), user %>
      <%= link_to user_name(user), user %>
      <%= user.profile %>
      最後の発言：<% if !user.posts.first.nil? %><%= time_ago_in_words(user.posts.first.created_at) %>前<% end %>
      <%= render 'users/follow_btn', user: user if logged_in? %>
      <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-trash'), user, method: :delete, data: { confirm: "You sure?" } if delete_user?(user) %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>