<h2>アカウント作成</h2>

<%= form_for @user, url: signup_path, html: { multipart: true } do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :user_name, "ユーザ名（半角英数字）" %>
  <%= f.text_field :user_name, class: "form-control" %>

  <%= f.label :password, "パスワード（6文字以上）" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "パスワード（確認）" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit 'アカウント作成', class: "btn btn-info", style: "margin-top: 20px;" %>

<% end %>
