<%= render 'shared/stats' %>

<% if @user.posts.any? %>
  <ul class="posts">
    <% @posts.each do |post| %>
      <%= render 'posts/post_with_parent', post: post %>
    <% end %>
  </ul>
  <%= will_paginate @posts %>
<% end %>