<div class="post_form">
  <%= form_for @post, html: { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, class: "form-control", placeholder: "わーい、たーのしー！" %>
    </div>
    <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
    <%= hidden_field_tag :post_id, params[:id] %>
    <%= f.submit "つぶやく", class: "btn btn-primary" %>
  <% end %>
</div>