<% @user ||= current_user %>

<div class="profile">

  <div class="profile_icon">
    <span><%= link_to user_icon, @user %></span>
    <span><%= render 'users/follow_btn', user: @user if logged_in? %></span>
  </div>

  <div class="profile_wrapper">
    <div class="profile_header">
      <span><%= link_to user_name, @user %></span>
    </div>

    <div>
      <span><%= @user.posts.count %> ツイート</span>
      <span><%= link_to following_user_path(@user) do %><%= @user.following.count %> フォロー<% end %></span>
      <span><%= link_to followers_user_path(@user) do %><%= @user.followers.count %> フォロワー<% end %></span>
    </div>

    <div class="profile_body">
      <span><%= @user.profile %></span>
    </div>
  </div>

</div>