<li id="post-<%= post.id %>" class="post_wrapper">
  <div><%= post.id %></div>
  <div class="post_icon"><%= link_to user_icon(post.user), post.user %></div>
  <div class="post_body">
    <div class="post_header">
      <span class="user"><%= link_to user_name(post.user), post.user %></span>
      <span class="timestamp"><%= time_ago_in_words(post.created_at) %>前</span>
      <span>
        <% if current_user.likes.flat_map {|i| i[:post_id] }.include?(post.id) %>
          <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-heart'), like_path(post), method: :delete %>
        <% else %>
          <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-heart-empty'), likes_path(post_id: post.id), method: :post %>
        <% end %>
      </span>
      <span>
        <% if current_user?(post.user) %>
          <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-trash'), post, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </span>
    </div>
    <div class="post_content">
      <span class="content">
        <%= link_to simple_format(h(post.content)), post_path(post) %>
        </span>
      <span><%= image_tag post.picture.url if post.picture? %></span>
    </div>
  </div>
  <div class="post_count"><%= post.children.count %> POSTS</div>

  <% if !post.parent.nil? %>
    <% post = post.parent %>
    <div> >> </div>

    <div><%= post.id %></div>
      <div class="post_icon"><%= link_to user_icon(post.user), post.user %></div>
      <div class="post_body">
        <div class="post_header">
          <span class="user"><%= link_to user_name(post.user), post.user %></span>
          <span class="timestamp"><%= time_ago_in_words(post.created_at) %>前</span>
          <span>
            <% if current_user.likes.flat_map {|i| i[:post_id] }.include?(post.id) %>
              <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-heart'), like_path(post), method: :delete %>
            <% else %>
              <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-heart-empty'), likes_path(post_id: post.id), method: :post %>
            <% end %>
          </span>
          <span>
            <% if current_user?(post.user) %>
              <%= link_to content_tag(:i, '', class: 'glyphicon glyphicon-trash'), post, method: :delete, data: { confirm: "You sure?" } %>
            <% end %>
          </span>
        </div>
        <div class="post_content">
          <span class="content">
            <%= link_to simple_format(h(post.content)), post_path(post) %>
            </span>
          <span><%= image_tag post.picture.url if post.picture? %></span>
        </div>
      </div>
      <div class="post_count"><%= post.children.count %> POSTS</div>
  <% end %>

</li>
