<ul class="posts">
  <% @root.ancestors.each do |ancestor| %>
    <%= render 'post', post: ancestor %>
  <% end %>
  <%= render 'post', post: @root %>
</ul>

<%= render 'shared/post_form', post: @root %>


<% if @root.has_children? %>
  <ul class="posts">
    <% @root.children.reorder(id: :asc).each do |child| %>
      <%= render 'posts/post', post: child %>
    <% end %>
  </ul>
<% end %>