@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  background-color: #f5f5f5;
}

textarea {
  resize: vertical;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
}

/* navbar */

.navbar {
  margin-top: 20px;
}

/* stats */

.profile {
  border:solid 2px gray;
  border-radius: 10px;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FFF;

  .profile_icon {
    display:inline-block;
  }
  .profile_wrapper {
    display:inline-block;

    .profile_header {
      margin: 10px;

    }
    .profile_body {
      margin: 10px;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #000;
  }
}

/* posts */

.posts {
  background-color: #FFF;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 30px;

  .post_wrapper {
    border:solid 1px #000;
    display:flex;
  }
  .post_wrapper:hover {
    background-color: WhiteSmoke;
  }
  .post_icon {
    border:solid 1px #000;
  }
  .post_body {
    border:solid 1px #000;
  }
  .post_content {
    border:solid 1px blue;
    word-wrap: break-word;
    max-width: 800px;
  }
  .content {
  }
  .timestamp {
    color: $gray-light;
  }
}


/* forms */

.post_form {
  border:solid 2px gray;
  border-radius: 10px;
  padding: 20px;
  background-color: #FFF;
}

.error_explanation {
  ul {
    color: red;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-left: 25px;
  margin-bottom: 10px;
}