<header>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <% if logged_in? %>
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "通知", notifications_path %></li>
        <li><%= link_to "いいね", likes_path %></li>
        <li><%= link_to "ユーザ", users_path %></li>
        <li><%= link_to "設定", edit_user_path(current_user) %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= link_to current_user.user_name, current_user %></li>
        <li><%= link_to 'ストリーム', stream_path %></li>
        <li><%= link_to "検索", search_path %></li>
        <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
      <% end %>
    </ul>
    </div>
  </nav>
</header>
